*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 5px;
    min-width: 250px;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 10%;
    min-width: 150px;
    height: auto;
    cursor: pointer;
}


li{
    list-style-type: none;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    position: relative;
}

a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
    width: 0%;
    transition: width 0.3s ease;
}

a:hover::after{
    width: 100%;
}

.list-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.lang-button{
    display: flex;
    align-items: center;
    gap: 2px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
}

.arrow-icon{
    width: 12px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex: 1 1 300px;
    gap: 20px;
}

.hero-img-container{
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    min-width: 240px;
}


@media (max-width: 768px){
    .hero-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero-text, .hero-img-container {
        width: 100%;
        flex: 1 1 auto;
    }

    .bottom-hero {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-img{
        width: 100%;
        max-width: 500px;
    }
    .list-items{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        width: 40%;
        min-width: 120px;
    }
    
    li{
        font-size: 18px;
    }
}


.hero-text h1{
    font-size: 50px;
}

@media (max-width: 1076px){
    .hero-text h1{
        font-size: 30px;
    }
}


.bottom-hero{
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn{
    padding: 10px 10px;
    background-color: transparent;
    background-color: #4299e1;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: rgb(63, 63, 239);
}

.playIconContainer{
    padding: 10px 14px;
    background-color: #4299e1;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}

.playIcon{
    width: 10px;
}

.playIconContainer:hover{
    background-color: rgb(63, 63, 239);
}

.demoBtn{
    margin-left: 5px;
}

/*tour section*/

.cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 40px 0px;
    width: 100%;
    gap: 20px;
}


.card {
    flex: 1 1 250px;
    max-width: 240px;
    border: 1px solid lightgray;
}

@media(max-width:1103px){
    .cards{
        justify-content: center;
    }
}

@media(max-width: 828px){

    .card{
        flex: 1 1 240px;
        min-width: 150px;
    }
}

@media(max-width:500px){
    .card{
        flex: 1 1 240px;
        min-width: 100px;
    }
}


.tour-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card button{
    width: 100px;
    padding: 10px;
    background-color: #4299e1;
    border-radius: 5px;
    cursor: pointer;
}

button{
    border: 0;
}